.switch {
  width: 5rem;
  height: 10rem;
  display: flex;
  background-color: grey;
  justify-content: center;
  align-items: center;

  .cont {
    height: 3rem;
    width: 3rem;
    background-color: #ec3c00;
    position: relative;

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      background-color: dimgrey;
      height: 50%;
      width: 100%;
      content: '';
      transform-origin: bottom ;
      transition: all .2s;
    }

    &:before {
       position: absolute;
       top: 0;
       left: 0;
       background-color: dimgrey;
       height: 50%;
       width: 100%;
       content: '';
     }

    &.active {
      &:after {
        transform: rotateX(180deg) ;
        background-color: lightgray;
      }
    }
  }
}